/* ===========================================
ABOUT
=========================================== */

.about-text {
    padding: 2%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    & > * {
        margin: 2% 0;
    }
    .resume-container {
        .resume-button {
            display: inline-block;
        }
    }
}
