/* ===========================================
FOOTER
=========================================== */

footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    p {
        text-align: center;
    }
}