/* ===========================================
GENERAL STYLINGS
=========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 125%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $background-color-main;
    color: $font-color-main;
    position: relative;
}

.wrapper.main-content {
    margin-left: 250px;
}

.wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $font-color-main;
}

img {
    max-width: 100%;
    display: block;
}
