/* ===========================================
GENERAL STYLINGS
=========================================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
    font-size: 125%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    color: white;
    background-color: $background-color-secondary;
}

.header,
.home {
    color: $font-color-main;
}

h1,
h2,
h3 {
    text-align: center;
}

.wrapper-main-content {
    position: relative;
    overflow-x: hidden;
    margin-left: 250px;
    width: calc(100% - 250px);
}

.wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $font-color-main;
}

img {
    max-width: 100%;
    display: block;
}

section {
    position: relative;
    &.tertiary {
        background-color: $background-color-tertiary;
    }
    padding: 3rem 0;
}

.accent-color {
    color: $accent-color;
}

.heading-container {
    margin-bottom: 2rem;
}

.section-heading {
    position: absolute;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    color: $heading-color-light;
    font-size: 5rem;
    letter-spacing: 3px;
}

.section-sub-heading {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    line-height: 6rem;
    text-shadow: 2px 2px 4px #000;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 5rem;
        background-color: $accent-color;
    }
}

// Firefox
* {
    scrollbar-color: $accent-color $background-color-main;
}

// For Chrome, Edge, and Safari
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background: $background-color-main;
}

*::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 100vw;
    border: 3px solid $background-color-main;
}

.hollow-button {
    color: $accent-color;
    padding: 0.7rem 1rem;
    border-radius: 50px;
    border: 2px solid $accent-color;
    &:hover {
        transition: all 0.3s;
        background-color: $accent-color;
        border-color: $accent-color;
        color: white;
    }
}

.solid-button {
    color: white;
    padding: 0.7rem 1rem;
    background-color: $accent-color;
    border-radius: 50px;
    border: 2px solid $accent-color;
    &:hover {
        transition: background-color 0.5s;
        background-color: rgba($accent-color, 0.7);
    }
}

button {
    background: none;
    cursor: pointer;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 3%;
    margin: 0 auto;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
    // max-width: 250px;
    transition: all 0.5s;
    border: 2px solid #fff;
    border-radius: 10px;
    &:hover {
        transform: scale(1.1);
        border-color: $accent-color;
        color: $accent-color;
    }
    i {
        position: relative;
        font-size: 4rem;
        padding: 1.5rem;
    }
    p {
        text-align: center;
        padding: 0.5rem;
    }
}

.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
