/* ===========================================
HEADER
=========================================== */

header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 100;
    background-color: $background-color-main;
}

.header-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    justify-content: space-between;
    height: 100vh;
    .header-nav {
        transition: max-height 0.3s ease-in-out;
    }
}

.header-nav-hero {
    h1 {
        color: $font-color-main;
        text-align: center;
        font-size: 1.3rem;
        .mobile-logo {
            display: none;
        }
    }
    img {
        margin: 1rem 0;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 5px rgb(88, 88, 88);
    }
}

.header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        text-align: center;
    }
    a {
        display: block;
        padding: 1rem;
    }
}

.header-nav-favicon-list {
    display: flex;
    li {
        margin: 0.5rem;
    }
}

/* ===========================================
MENU BUTTON
=========================================== */

.menu-button {
    display: none;
    position: relative;
    padding: 0;
    width: $hamburger-patty;
    height: $hamburger-patty;
    border: none;
    color: white;
}

.hamburger-menu {
    @include hamburger;
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: "";
    position: absolute;
    left: 0;
    @include hamburger;
}

.hamburger-menu::before {
    transform: translateY(-10px);
}
.hamburger-menu::after {
    transform: translateY(10px);
}

.menu-button.open .hamburger-menu {
    transform: translateX(-50px);
    background: transparent;
}

.menu-button.open .hamburger-menu::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-button.open .hamburger-menu::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
