/* ===========================================
HOME
=========================================== */

.home {
    position: relative;
    height: 100vh;
    // background-image: url("../assets/hero-background-test.jpg");
    background-image: url("../../assets/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 3rem;
    }
    p {
        text-align: center;
        font-size: 1.4rem;
    }
    & > * {
        margin: 0.7rem 0;
    }
}
