/* Coming down from full screen or wider */
@media (max-width: 1280px) {
    .project-content {
        grid-template-columns: 1fr;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 980px) {
    header {
        position: fixed;
        bottom: unset;
        left: unset;
        right: unset;
        top: unset;
        width: 100%;
    }
    .header-nav-container {
        flex-direction: row;
        padding: 0.5rem;
        height: 65px;
    }
    .header-nav-hero {
        img {
            display: none;
        }
    }

    .header-nav {
        position: absolute;
        z-index: 100;
        right: 0;
        top: 66px;
        max-height: 0;
        overflow: hidden;
        li {
            min-width: 250px;
            text-align: center;
            margin: 1px;
            background-color: rgba($background-color-main, 0.8);
        }
    }

    .hamburger-menu {
        display: block;
    }

    .wrapper-main-content {
        margin-left: 0;
        width: 100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .home-heading-container {
        h2 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .skills-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .skill-container {
        i {
            font-size: 3rem;
            padding: 1rem;
        }
    }
    .section-heading {
        font-size: 4rem;
    }
    .section-sub-heading {
        line-height: 5rem;
    }
}

@media (max-width: 560px) {
    .header-nav-hero h1 {
        .mobile-logo {
            display: block;
        }
        .desktop-logo {
            display: none;
        }
    }

    .skills-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-container {
        i {
            font-size: 2rem;
            padding: 0.5rem;
        }
        p {
            font-size: 0.9rem;
            padding: 0.2rem;
        }
    }
    .section-heading {
        display: none;
    }
    .project-text {
        .project-summary p {
            font-size: 0.8rem;
        }
    }
    .contact-form fieldset,
    .contact-me {
        grid-template-columns: 1fr;
    }
}
