/* Coming down from full screen or wider */
@media (max-width: 1280px) {
    .project-content {
        grid-template-columns: 1fr;
    }
    .skills-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 980px) {
    header {
        position: fixed;
        bottom: unset;
        left: unset;
        right: unset;
        top: unset;
        width: 100%;
    }
    .header-nav-container {
        flex-direction: row;
        padding: 0.5rem;
        height: 65px;
    }
    .header-nav-hero {
        img {
            display: none;
        }
    }

    main, footer {
        width: 100%;
        left: 0;
    }

    .header-nav {
        position: absolute;
        z-index: 100;
        right: 0;
        top: 66px;
        max-height: 0;
        overflow: hidden;
        li {
            min-width: 250px;
            text-align: center;
            margin: 1px;
            background-color: rgba($background-color-main, 0.8);
        }
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .home-heading-container {
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .skills-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-container {
        i {
            font-size: 3rem;
            padding: 1rem;
        }
    }
    .section-heading {
        font-size: 4rem;
    }
    .section-sub-heading {
        line-height: 5rem;
    }
}

@media (max-width: 560px) {
    body {
        font-size: 0.9rem;
    }
    .header-nav-hero h1 {
        .mobile-logo {
            display: block;
        }
        .desktop-logo {
            display: none;
        }
    }

    .skill-container {
        i {
            font-size: 2rem;
            padding: 0.5rem;
        }
        p {
            font-size: 0.9rem;
            padding: 0.2rem;
        }
    }
    .section-heading {
        display: none;
    }
    .project-text {
        .project-summary p {
            font-size: 0.8rem;
        }
    }
    .contact-form fieldset,
    .contact-me {
        grid-template-columns: 1fr;
    }
}

// Only for devices with hover enabled
@media (hover: hover) {
    .header-nav-list a:hover {
        transition: color 0.5s;
        color: $accent-color;
    }
    .header-nav-favicon-list {
        li a:hover {
            transition: color 0.5s;
            color: $accent-color;
        }
    }

    .project-text .project-link:hover {
        transition: color 0.3s, border-color 0.3s;
        color: $accent-color;
        border-color: $accent-color;
    }

    .contact-me {
        a:hover,
        a:hover i {
            transition: all 0.5s;
            color: $accent-color;
        }
    }
    .to-top {
        &:hover {
            transition: all 0.3s;
            background-color: rgba(128, 128, 128, 0.5);
        }
        &:hover + .nav-button-tooltip {
            visibility: visible;
        }
    }
}

// For reduced motion. There is a better way of doing this but this works all the same.
@media (prefers-reduced-motion: reduce) {
    .home-heading-container {
        .reduced-motion-home {
            display: block;
        }
        .typewriter {
            display: none;
        }
    }

    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
