/* ===========================================
VARIABLES AND MIXINS
=========================================== */

$background-color-main: #2b2f31;
$font-color-main: #fff;
$font-color-light-text: #dee3e4;
$accent-color: #0dcaf0;