/* ===========================================
VARIABLES AND MIXINS
=========================================== */

$background-color-main: #111418;
$background-color-secondary: #212529;
$background-color-tertiary: #343A40;
$font-color-main: #fff;
$font-color-light-text: #dee3e4;
$accent-color: #0dcaf0;
$heading-color-light: rgba(163, 163, 163, 0.2);
$input-color: #232a31;