/* ===========================================
VARIABLES AND MIXINS
=========================================== */

$background-color-main: #111418;
$font-color-main: #fff;
$font-color-light-text: #dee3e4;
$accent-color: #0dcaf0;