@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
VARIABLES AND MIXINS
=========================================== */
/* ===========================================
GENERAL STYLINGS
=========================================== */
html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #111418;
}

h1,
h2,
h3 {
  text-align: center;
}

.wrapper-main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.accent-color {
  color: #0dcaf0;
}

section {
  position: relative;
}

.heading-container {
  margin: 2% 0;
}

.section-heading {
  position: absolute;
  width: 90%;
  text-transform: uppercase;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(211, 211, 211, 0.3);
  font-size: 5rem;
  letter-spacing: 3px;
}

.section-sub-heading {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  line-height: 6rem;
}
.section-sub-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 5rem;
  background-color: #0dcaf0;
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 1rem;
  border-radius: 100%;
  background-color: gray;
}
.to-top:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(128, 128, 128, 0.5);
}
.to-top.hidden {
  display: none;
}
.to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-button-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  right: 0;
}

.text-content {
  text-align: center;
}

* {
  scrollbar-color: #0dcaf0 #111418;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: #111418;
}

*::-webkit-scrollbar-thumb {
  background-color: #0dcaf0;
  border-radius: 100vw;
  border: 3px solid #111418;
}

.hollow-button {
  color: #0dcaf0;
  padding: 0.7rem 1rem;
  border-radius: 50px;
  border: 2px solid #0dcaf0;
}
.hollow-button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: white;
}

.solid-button {
  color: white;
  padding: 0.7rem 1rem;
  background-color: #0dcaf0;
  border-radius: 50px;
  border: 2px solid #0dcaf0;
}

button {
  background: none;
  cursor: pointer;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0 5%;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #000;
  border-radius: 10px;
}
.skill-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-color: #0dcaf0;
  color: #0dcaf0;
}
.skill-container i {
  position: relative;
  font-size: 5rem;
  padding: 0.7rem;
}
.skill-container p {
  margin: 10% 0;
}

/* ===========================================
TYPOGRAPHY
=========================================== */
.header,
.home {
  color: #fff;
}

/* ===========================================
HEADER
=========================================== */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 100;
  background-color: #111418;
}

.header-nav-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.header-nav-container .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 2rem 0;
}

.header-nav-hero h1 {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}
.header-nav-hero img {
  margin: 1rem 0;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 0px 5px #585858;
          box-shadow: 0px 0px 0px 5px #585858;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-list li {
  padding: 1rem;
}
.header-nav-list li a:hover {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #0dcaf0;
}

.header-nav-favicon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav-favicon-list li {
  margin: 0.5rem;
}
.header-nav-favicon-list li a:hover {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #0dcaf0;
}

/* ===========================================
HOME
=========================================== */
.home {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/hero-background-test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-heading-container h2 {
  font-size: 3rem;
}
.home-heading-container p {
  font-size: 1.4rem;
}
.home-heading-container > * {
  margin: 0.7rem 0;
}

/* ===========================================
ABOUT
=========================================== */
.about-text > * {
  margin: 2% 0;
}

/* ===========================================
PROJECTS
=========================================== */
.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-container {
  position: relative;
  width: 30%;
}
.project-container .project-image {
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 2px 2px #000;
          box-shadow: 0px 0px 2px 2px #000;
  border-radius: 10px;
  overflow: hidden;
}
.project-container .project-image img:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* ===========================================
CONTACT
=========================================== */
/* ===========================================
FOOTER
=========================================== */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}
footer p {
  text-align: center;
}

/* ===========================================
MODAL
=========================================== */
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}
.modal.hidden {
  display: none;
}
.modal .project-modal {
  background: white;
  -webkit-box-shadow: 0px 0px 2px 2px #000;
          box-shadow: 0px 0px 2px 2px #000;
  height: 80vh;
  width: 80vw;
  margin: 10vh 10vw;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  header {
    position: fixed;
    bottom: unset;
    left: unset;
    right: unset;
    top: unset;
    width: 100%;
  }

  .header-nav-container {
    padding: 0;
  }
  .header-nav-container .header-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 0;
  }

  .header-nav-hero img {
    display: none;
  }

  .header-nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: none;
  }

  .wrapper-main-content {
    margin-left: 0;
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .skills-content {
    grid-template-columns: repeat(3, 1fr);
  }
}