@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
VARIABLES AND MIXINS
=========================================== */
/* ===========================================
GENERAL STYLINGS
=========================================== */
html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  color: white;
  background-color: #212529;
}

.header,
.home {
  color: #fff;
}

h1,
h2,
h3 {
  text-align: center;
}

.wrapper-main-content {
  position: relative;
  overflow-x: hidden;
  margin-left: 250px;
  width: calc(100% - 250px);
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

section {
  position: relative;
  padding: 3rem 0;
}
section.tertiary {
  background-color: #343A40;
}

.accent-color {
  color: #0dcaf0;
}

.heading-container {
  margin-bottom: 2rem;
}

.section-heading {
  position: absolute;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(163, 163, 163, 0.2);
  font-size: 5rem;
  letter-spacing: 3px;
}

.section-sub-heading {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  line-height: 6rem;
  text-shadow: 2px 2px 4px #000;
}
.section-sub-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 5rem;
  background-color: #0dcaf0;
}

* {
  scrollbar-color: #0dcaf0 #111418;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: #111418;
}

*::-webkit-scrollbar-thumb {
  background-color: #0dcaf0;
  border-radius: 100vw;
  border: 3px solid #111418;
}

.hollow-button {
  color: #0dcaf0;
  padding: 0.7rem 1rem;
  border-radius: 50px;
  border: 2px solid #0dcaf0;
}
.hollow-button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: white;
}

.solid-button {
  color: white;
  padding: 0.7rem 1rem;
  background-color: #0dcaf0;
  border-radius: 50px;
  border: 2px solid #0dcaf0;
}
.solid-button:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(13, 202, 240, 0.7);
}

button {
  background: none;
  cursor: pointer;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0 3%;
  margin: 0 auto;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3% 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #fff;
  border-radius: 10px;
}
.skill-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-color: #0dcaf0;
  color: #0dcaf0;
}
.skill-container i {
  position: relative;
  font-size: 4rem;
  padding: 1.5rem;
}
.skill-container p {
  text-align: center;
  padding: 0.5rem;
}

.blinker {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* ===========================================
HEADER
=========================================== */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 100;
  background-color: #111418;
}

.header-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}
.header-nav-container .header-nav {
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.hamburger-menu {
  display: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.header-nav-hero h1 {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}
.header-nav-hero h1 .mobile-logo {
  display: none;
}
.header-nav-hero img {
  margin: 1rem 0;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 0px 5px #585858;
          box-shadow: 0px 0px 0px 5px #585858;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-list li {
  text-align: center;
}
.header-nav-list a {
  display: block;
  padding: 1rem;
}

.header-nav-favicon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav-favicon-list li {
  margin: 0.5rem;
}

/* ===========================================
HOME
=========================================== */
.home {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-heading-container .mobile-type {
  display: none;
}
.home-heading-container h2 {
  width: 100%;
  font-size: 3rem;
}
.home-heading-container p {
  text-align: center;
  font-size: 1.4rem;
}
.home-heading-container > * {
  margin: 0.7rem 0;
}

/* ===========================================
ABOUT
=========================================== */
.about-text {
  padding: 2%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.about-text > * {
  margin: 2% 0;
}
.about-text .resume-container .resume-button {
  display: inline-block;
}

/* ===========================================
PROJECTS
=========================================== */
.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 3%;
  text-align: center;
}
.project-content .project-container {
  position: relative;
  margin: 5% 0;
}

.project-info {
  visibility: hidden;
  opacity: 0;
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(17, 20, 24, 0.8);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-info .project-heading {
  text-transform: uppercase;
  margin: 3% 0;
}
.project-info .tool-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-text .project-links {
  text-transform: uppercase;
  margin: 3% 0;
}
.project-text .tool-list {
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #0dcaf0;
}
.project-text .project-link {
  padding: 2% 5%;
  border: 2px solid #fff;
  border-radius: 5px;
}
.project-text .project-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project-text .project-summary p {
  padding: 3% 0;
}

.project-image {
  -webkit-box-shadow: 0px 0px 2px 2px #000;
          box-shadow: 0px 0px 2px 2px #000;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 400px;
}
.project-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* ===========================================
CONTACT
=========================================== */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
.contact h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #232a31;
  border: 2px solid #232a31;
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
  color: white;
}
.contact-form textarea {
  height: 10rem;
  resize: none;
}
.contact-form fieldset {
  border-radius: 5px;
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin: 0;
}
.contact-form .message-container,
.contact-form .submit-container,
.contact-form p {
  grid-column: 1/-1;
}
.contact-form .submit-container {
  text-align: center;
}
.contact-form p {
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  padding: 3%;
}
.contact-me .follow-me,
.contact-me .book-appt {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-me .follow-me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-me .book-appt a {
  padding-right: 0.5rem;
}
.contact-me i {
  color: white;
  padding: 0.5rem;
}

.submit-button {
  width: 40%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

/* ===========================================
FOOTER
=========================================== */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}
footer p {
  text-align: center;
}

.to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: gray;
}
.to-top.hidden {
  display: none;
}
.to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-button-tooltip {
  visibility: hidden;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.5rem;
  border-radius: 2.5rem;
  position: fixed;
  bottom: 0.9rem;
  right: 4rem;
}

/* Coming down from full screen or wider */
@media (max-width: 1280px) {
  .project-content {
    grid-template-columns: 1fr;
  }

  .skills-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 980px) {
  header {
    position: fixed;
    bottom: unset;
    left: unset;
    right: unset;
    top: unset;
    width: 100%;
  }

  .header-nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.5rem;
    height: 65px;
  }

  .header-nav-hero img {
    display: none;
  }

  .header-nav {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 66px;
    max-height: 0;
    overflow: hidden;
  }
  .header-nav li {
    min-width: 250px;
    text-align: center;
    margin: 1px;
    background-color: rgba(17, 20, 24, 0.8);
  }

  .hamburger-menu {
    display: block;
  }

  .wrapper-main-content {
    margin-left: 0;
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .home-heading-container h2 {
    font-size: 1.8rem;
  }
  .home-heading-container p {
    font-size: 1.1rem;
  }

  .skills-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-container i {
    font-size: 3rem;
    padding: 1rem;
  }

  .section-heading {
    font-size: 4rem;
  }

  .section-sub-heading {
    line-height: 5rem;
  }
}
@media (max-width: 560px) {
  body {
    font-size: 0.9rem;
  }

  .header-nav-hero h1 .mobile-logo {
    display: block;
  }
  .header-nav-hero h1 .desktop-logo {
    display: none;
  }

  .skill-container i {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .skill-container p {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  .section-heading {
    display: none;
  }

  .project-text .project-summary p {
    font-size: 0.8rem;
  }

  .contact-form fieldset,
.contact-me {
    grid-template-columns: 1fr;
  }
}
@media (hover: hover) {
  .header-nav-list a:hover {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: #0dcaf0;
  }

  .header-nav-favicon-list li a:hover {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: #0dcaf0;
  }

  .project-container:hover .project-info {
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
  }

  .project-text .project-link:hover {
    -webkit-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    color: #0dcaf0;
    border-color: #0dcaf0;
  }

  .contact-me a:hover,
.contact-me a:hover i {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #0dcaf0;
  }

  .to-top:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(128, 128, 128, 0.5);
  }
  .to-top:hover + .nav-button-tooltip {
    visibility: visible;
  }
}